body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}

th, td {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
    font-size: 11px;
    /* Tamaño de texto del cuerpo */
}

th {
    background-color: #f4f4f4;
    font-size: 10px;
    /* Tamaño de texto de los encabezados */
}

td.block {
    color: white;
    font-weight: bold;
}

td.block.pildora {
    background-color: #d9af05;
    /* Amarillo */
}

td.block.tema {
    background-color: #2ecc71;
    /* Verde */
}

td.block.proyecto {
    background-color: #e67e22;
    /* Naranja */
}

td.empty {
    background-color: #f9f9f9;
}

.label {
    font-weight: bold;
    color: white;
    text-align: left;
}

.label.pildora {
    background-color: #d9af05;
}

.label.tema {
    background-color: #2ecc71;
}

.label.proyecto {
    background-color: #e67e22;
}

.icon {
    margin-right: 5px;
}

#generate {
    display: none;
}
